<nav>
  <ul>
    <li><%= link_to 'intro to (x)html', root_path %></li>
    <li><%= link_to 'html vs xhtml cage match',                             example_path(:view => 'html-xhtml') %></li>
    <li><%= link_to '<code>header</code>, <code>footer</code> and friends', example_path(:view => 'new-tags') %></li>
    <li><%= link_to '<code>audio</code> &amp; <code>video</code>',          example_path(:view => 'audio-video') %></li>
    <li><%= link_to '<code>canvas</code> tag simple',                       example_path(:view => 'simple-canvas') %></li>
    <li><%= link_to '<code>canvas</code> tag animated',                     example_path(:view => 'animated-canvas') %></li>
    <li><%= link_to '<code>form</code> validations',                        example_path(:view => 'form-validations') %></li>
    <li><%= link_to 'web dbs and local storage',                            example_path(:view => 'local-storage') %></li>
    <li><%= link_to '<code>contenteditable</code>',                         example_path(:view => 'contenteditable') %></li>
    <li><%= link_to 'Geolocation API',                                      example_path(:view => 'geolocation-api') %></li>
    <li><%= link_to 'drag and drop',                                        example_path(:view => 'drag-drop') %></li>
    <li><%= link_to 'You can do what now?',                                 example_path(:view => 'capabilities') %></li>
    <li><%= link_to 'HTML 5 Now!',                                          example_path(:view => 'html5-now') %></li>
    <li><%= link_to 'Shiv IE with HTML',                                    example_path(:view => 'html-shiv') %></li>
    <li><%= link_to '<code>@font-face {}</code>',                           example_path(:view => 'font-face') %></li>
    <li><%= link_to 'Resources',                                            example_path(:view => 'resources') %></li>
  </ul>
</nav>